{% extends 'netbox_plugin_extensions/generic/object.html' %}
{% load helpers %}
{% load plugins %}

{% block breadcrumbs %}
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_secretstore:secretsgroup_list' %}">Secrets Group</a></li>
  <li class="breadcrumb-item"><a href="{% url 'plugins:netbox_secretstore:secretsgroup_list' %}?role_id={{ object.role.pk }}">{{ object.role }}</a></li>
  <li class="breadcrumb-item">{{ object }}</li>
{% endblock %}

{% block content %}
  <div class="row mb-3">
      <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">
          Secrets Group
        </h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Name</th>
              <td>{{ object.name }}</td>
            </tr>
            <tr>
              <th scope="row">Description</th>
              <td>{{ object.description|placeholder }}</td>
            </tr>
              <tr>
                  <th scope="row">Role</th>
                  <td>
                      <a href="{{ object.role.get_absolute_url }}">{{ object.role }}</a>
                  </td>
              </tr>
          </table>
        </div>
      </div>
      {% plugin_left_page object %}
      </div>
      <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% plugin_right_page object %}
    </div>
  </div>
{% endblock %}
